@charset "utf-8";

#top {
    color: rgb(151, 3, 3);
}

body {
    font-size: 20px;
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN";
    text-align: center;
    background: linear-gradient(rgb(148, 148, 148), #ececec);
}

h1 {
    line-height: 2em;
    background-color:rgb(61, 223, 61);
}

table {
    font-size: 14px;
    background-color:rgb(250, 255, 185);
}

canvas {
    background-color:rgb(169, 202, 212);
}

#unitcost > button {
    background-color: rgb(202, 72, 72);
}